<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You Got Mail!</title>
    <style>
      * {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: white;
      }
      body {
        background-color: rgb(41, 39, 42);
      }
    </style>
  </head>
  <body>
    <h1>
      OHH ! You have been scammed, we can knock at your door any moment, you are
      being Watched
    </h1>
  </body>
</html>
